git+https://github.com/deepghs/waifuc.git@main#egg=waifuc[video]
git+https://github.com/narugo1992/civitai_client.git@main
git+https://github.com/narugo1992/pycivitai.git@main
dghs-imgutils>=0.4.6
git+https://github.com/narugo1992/gchar.git@main
pillow
numpy
scipy
scikit-learn
huggingface_hub>=0.14.0
requests
click>=7.0.0
hbutils>=0.9.1
di-toolkit
tensorboard
tabulate
markdown2
urlobject
blurhash
dateparser
backports.zoneinfo; python_version < '3.9'
diffusers>=0.19.0,<0.25
torchsde
natsort
pyquery
pandas
tqdm
# for cuda 12
#torch>=2.1.0
# for cuda 11
torch<2.1,>=2
pyanimeinfo>=0.0.2
hfutils>=0.2.5
filelock
git+https://github.com/deepghs/sdeval.git@main
safetensors
markdown_strings
discord-webhook
toml>=0.10.2
webuiapi
accelerate
pynyaasi
pyarrow